.appointments-list h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffc400;
    font-size: 40px;
}

.appointments-list {
    padding: 20px;
}

.appointments-list table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

.appointments-list th, .appointments-list td {
    padding: 10px;
    text-align: left;
    border: 2px solid #000000;
    text-align: center;
    font-weight: 700;
    font-size: 19px;
}

.appointments-list th {
    background-color: #123451;
    color: #cfcfcf;
}

.appointments-list tr:nth-child(even) {
    background-color: #123451;
    color: #ffffff;
}

.appointments-list tr:nth-child(odd) {
    background-color: #1b4468;
    color:#000000;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .appointments-list h2 {
        font-size: 50px;
    }

    .appointments-list th, .appointments-list td {
        font-size: 16px;
        padding: 8px;
    }

    .appointments-list table {
        width: 100%;
        overflow-x: scroll;
    }
}

@media (max-width: 480px) {
    .appointments-list h2 {
        font-size: 17px;
    }

    .appointments-list th, .appointments-list td {
        font-size: 8px;
        padding: 6px;
    }

    .appointments-list table {
        font-size: 12px;
        overflow-x: scroll;
    }

    .appointments-list th {
        font-size: 10px;
    }

    .appointments-list td {
        word-wrap: break-word;
    }
}
