/* General slider styles */
.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img, video {
    width: 100%;
    display: none;
    height: 675px; 
}

img.displaySlide {
    display: block;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
  
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

/* Fade-in animation */
@keyframes fade {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}


@media screen and (max-width: 768px) {
    .slider img, video {
        height: 400px; 
    }

    .slider button {
        font-size: 1.5rem; 
    }
}


@media screen and (max-width: 480px) {
    .slider img, video {
        height: 200px; 
    }

    .slider button {
        font-size: 1.2rem; 
    }
}
